## Variables
Computers are designed to store and read values quickly and reliably. To take advantage of this, we will need to learn two types of Python instructions: one for assigning values and one for reading values.

### Assigning Values
To assign or keep a value in Python, we need a name(also known as identifier) as well as a corresponding value to be assigned.
The equal symbol = is used, the syntax is as follows: 
> **variable_name = value**

There are rules for naming a variable:
1. Can contain uppercase or lowercase letters (A - Z, a - z)
2. Can contain numbers (0 - 9) but cannot start with a number
3. Can contain underscore symbol (_)
4. Cannot contain any other characters (e.g. $ % # or a space)
5. Cannot be of a reserved word that has special meaning in Python
    > *False, None, True, and, as, assert, break, class, continue, def, del, elif, else, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield*

In [ ]:
# When a variable name is invalid, it will cause a syntax error

age = 15
my_name = "Jason"
2A = 15           #start with number
my school = "SST" #contains a space
cost$ = 5.80      #contains invalid special character
class = "407"     #using a reserved word

In [ ]:
# Exercise 1.0
# Change all the variables to have valid names.

age = 15
my_name = "Jason"
A = 15           
my school = "SST" 
cost = 5.80     
Classroom = "407"

### Reading Values
We can retrieve the value assigned to a variable by using the variableâ€™s name. Python will use the last assigned value.

To display the value of a variable on the screen, use the *print()* function as follows
>print(variable_name)

In [ ]:
my_name = "Jason"
print(my_name)     #Jason
my_name = "Jane"
my_name = "Jenny"
print(my_name)     #Jenny

In [ ]:
# If you try to read a variable that does not correspond to any variable that was used or defined previously, 
# Python will produce an error message instead:

print(his_name)

### Reading and Assigning at the same time
You can take value from one variable, manipulate it and then assign the new value to another variable.
> `book_cost = 5.5`  
> `gst = book_cost * 0.08`

You can even manipulate the value and then re-assigned back to itself
> `age = 14`  
> `age = age + 1`

In [ ]:
book_cost = 5.5
gst = book_cost * 0.08
print(gst)

age = 14
age = age + 1
print(age)

### *None* Value
A variable may have value missing or no suitable value assigned to it at some point during run time. Since Python will produce an error message when trying to retrieve a variable that has not been defined, that variable can be create and assigned a special None value to indicates the value is missing.  
> `variable_1 = None`

### Built-in Data Types

There are six built-in types in Python: *numerics & boolean, sequences, mappings, classes, instances and exceptions*. 
For this basic Python module, only numberics, boolean and text sequence are covered.

#### Numerics 
There are three distinct numeric types: integers, floating point numbers, and complex numbers. In addition, Booleans are a subtype of integers.

All `int` and `float` supports the following arithmetic operation
- `x + y` sum of x and y
- `x - y` difference of x and y
- `x * y` product of x and y
- `x / y` quotient of x and y
- `x // y` floored quotient of x and y
- `x % y` remainder of `x / y`
- `-x` negate x
- `abs(x)` absolute value or magnitude of x
- `int(x)` x converted to integer
- `float(x)` x converted to floating point
- `pow(x, y)` x to the power y
- `x ** y` x to the power of y

In [ ]:
# Q1. Find the area and perimeter of the rectangle
length = 5
width = 10

# Q2. There are x number of students. There class layout allows 6 seats per row. 
#     How many full rows are required to fully sits x students?
#     How many extra seat(s) is required?
x = 37

fullRows=x//6

#### Boolean 
Booleans represent truth values. The `bool` type has exactly two constant instances: `True` and `False`.

The built-in function `bool()` converts any value to a boolean, if the value can be interpreted as a truth value.

`bool` is a subclass of `int`. In many numeric contexts, `False` and `True` behave like the integers 0 and 1, respectively. However, relying on this is discouraged; explicitly convert using `int()` instead.

In [ ]:
is_here = True
print(is_here)
a_num = 50
print(bool(a_num))

# Find out :-
#  what is the boolean value of negative number?

#### Text Sequence
Textual data in Python is handled with `str` objects, or strings. Strings are immutable sequences of characters (Unicode code points). String literals are written in a variety of ways:
- Single quote `'This is a string'`, `'Hello'`
- Double quotes `"This is also a string"`, `"World"`
- Triple quotes `'''This is triple quotations'''`, `'''Programmer'''`

*String methods* (non-exhaustive)
- `str(x)` convert x to a string
- `str.upper()` convert entire str to upper case letters
- `str.lower()` convert entire str to lower case letters

*Special escape characters*
- `'\n'` new line
- `'\t'` horizontal tab

In [ ]:
string1 = "Hello World"
string2 = string1.upper()
print(string2)

print("Hello\nWorld!")
print("New\tProgrammer\t!!!")

*Arithmetic operators that works with string*
- Concatenation `+` join the right string onto the end of the left string  
> `"Hello" + "World"` will produce `"HelloWorld"`  
- Repetition `*` repeat the content of the string a number of times
> `"Hello" * 3` will produce `"HelloHelloHello"`

In [ ]:
# Try it out yourself
str1 = "sometext"
str2 = "someothertext"
num1 = 4

# Can you concatenate a string with a non-string?
# Can you repeat a string strings number of time? (multiple by a string instead of a number)
# Can you repeat a string with a floating point value?

In [ ]:
# Exercise: The following code takes in input as string, convert both inputs into appropriate numerical data type. 
length = '20'
width = '8'
area = length * width
print("The area is", area)

## Input and output built-in functions

### Output: print()

*`print(*objects, sep=' ', end='\n', file=None, flush=False)`*
Print objects to the text stream file, separated by sep and followed by end. sep, end, file, and flush, if present, must be given as keyword arguments.

In [1]:
my_name = "Jason"
my_class = "3-13"

print(my_name)
print(my_class)
print()

# changing the default value of sep parameter
print(my_name, my_class)
print(my_name, my_class, sep="~*~*")


# changing the default value of end parameter
print(my_name, end=" ")
print(my_class)

Jason
3-13

Jason 3-13
Jason~*~*3-13
Jason 3-13

### Input: input()

*`input(prompt)`*
The prompt argument must be string(s). The function then reads a line from input, converts it to a **string** (stripping a trailing newline), and returns that.  
The data returned by input function will always be a string, proper conversion(s) is required to ensure your program run correctly!

In [ ]:
# Without a prompt make it difficult for user to know what is to be entered.
name1 = input()
print(Nahan)

# input with prompt
name2 = input("Nathan: ")
# print() can take in multiple objects as arguements
print("Hello", name2)
print("Hello"+name2)

a = 10
print("The number is", a)
print("The number is " + str (a)) # This will cause an error because int cannot be added to string 
apple = input

Apple: 6
Orange: 8
Total

## Reflection Exercises

In [ ]:
# Reflection Exercise 1a
# Write a program that get the length and width of a rectangle from user.
# Calculate and display the area and perimeter of the rectangle.

Area= l

In [ ]:
# Reflection Exercise 1b
# Write a program that get a total cost and number of people from the user
# Apply taxes (GST, service charge) and display the amount each person needed to pay.